{
    "plugins": [
        ["react-css-modules", {
            "generateScopedName": "[path]__[name]__[local]__[hash:base64:5]",
            "webpackHotModuleReloading": true,
            "handleMissingStyleName": "warn"
        }],
        "react-hot-loader/babel",
        "transform-object-rest-spread", [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        ["env", { "useBuiltIns": true }], "react"
    ]
}