.copy-btn {
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid #0085ba;
    cursor: pointer;
    color: #0085ba;
    border-radius: 16px;
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.copy-btn.copy-btn--copied {
    color: crimson;
    border-color: crimson;
}