.form-wrapper {
    background: #f1f1f1;
    box-sizing: border-box;
    border: 0 solid black;
    border-radius: 0;
    color: #444;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.fieldset,
.fieldset__bordered {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    border: none;
    border-image: none;
    box-sizing: border-box;
    width: 100%;
}

.fieldset__bordered {
    padding: 10px;
    border: 1px solid #444;
}

.fieldset__bordered+.fieldset__bordered {
    margin-top: 20px;
}

h3.form-header,
.divider-title {
    box-sizing: border-box;
    color: #444;
    text-align: center;
    font-size: 14px;
    line-height: calc(14px * 1.15);
    margin-bottom: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
}

.form-header--small {
    box-sizing: border-box;
    font-size: calc(20px * .9);
    margin: 20px 0;
}

.form-header--small>strong {
    box-sizing: border-box;
    color: #0085ba;
}

.form-header__subheader {
    box-sizing: border-box;
    margin: 10px 0;
}

.cc-img {
    box-sizing: border-box;
    margin-left: 20px;
}

.divider-title {
    white-space: nowrap;
    padding: 0 6px;
    -ms-flex-item-align: center;
    align-self: center;
    line-height: 14px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.line {
    background-color: #0085ba;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: center;
    align-self: center;
    height: 2px;
    overflow: visible;
    margin: 20px 0;
    box-sizing: border-box;
}

.form-row {
    box-sizing: border-box;
    width: 100%;
}

.form-btn--wrapper {
    box-sizing: border-box;
}

.form-row:not(.flex-wrap)>div+div,
.form-btn--wrapper+.form-btn--wrapper {
    margin-left: 10px;
}

p.form-info {
    font-size: 14px;
    margin: -15px 0 20px 7px;
    line-height: 1.5;
}

code.form-code {
    font-size: 14px;
    background-color: #eee;
    padding: 1px 2px;
}

code.code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.form-msg {
    color: crimson;
    position: absolute;
    width: calc(90vw - 88px);
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    transition: opacity 200ms ease-in-out;
}

.error {
    box-sizing: border-box;
    position: absolute;
    color: crimson;
    width: auto;
    left: 5px;
    bottom: calc(0% - 11px);
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.error.amount-error,
.error.submit-error {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(0% - 20px);
}

.form-row.submit-row {
    position: relative;
}

.form-row+.form-row {
    margin-top: 20px;
}

input[type="submit"].submit-button,
.form-btn {
    background: #0085ba;
    box-sizing: border-box;
    color: #fff;
    display: block;
    border: 2px solid transparent;
    border-radius: 1px;
    box-shadow: 0 1px 0 #006799;
    display: block;
    font-weight: bold;
    font-size: calc(20px * 1.1);
    padding: 0 20px;
    margin: 14px auto;
    width: 300px;
    height: calc(20px * 2.3);
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.form-btn,
button.form-btn {
    cursor: pointer;
    pointer-events: auto;
    margin-top: 16px;
    width: auto;
    height: auto;
}

input[type="submit"].submit-button:hover,
button.form-btn:hover,
.form-btn:hover {
    background-color: #fff;
    color: #0085ba;
    border-color: #0085ba;
}

input[type="submit"].submit-button:disabled,
button.form-btn:disabled,
.form-btn:disabled {
    cursor: wait;
    background-color: #a0a0a0;
    color: #fff;
}

input[type="submit"].submit-button>.error {
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
    margin-top: 10px;
}

.invalid {
    box-sizing: border-box;
    border-color: crimson !important;
}

.monthly-radio,
.form-status-radio {
    box-sizing: border-box;
    margin: 20px 0;
    max-width: 450px;
}

table.table {
    border-collapse: collapse;
}

thead.table-head {
    background: #f1f1f1;
}

tbody>tr.table-row:nth-child(even):not(:last-child) {
    background: #aaf1f1;
}

th.table-row__headers,
td.table-row__cells {
    padding: 5px 20px;
    text-align: left;
    border: 1px solid #444;
}

tbody>tr.table-row:last-child>td.table-row__cells+td.table-row__cells {
    border-left: none;
}

@media screen and (max-width: 365px) {
    .submit-button {
        max-width: 270px;
        text-align: center;
    }
}